{% extends 'base.html'%}

{% block title %}
    Student Details
{% endblock%}

{% block content %}
<div class="p-5">
    <h1>{{ student.first_name }} {{ student.last_name}}</h1>
    <p>Student no. {{ student.student_number }}</p>
    <p>Guardian. {{ student.guardian_name }}</p>
    <p>Guardian Contact. {{ student.guardian_contact}}</p>
    <hr>
    <h2>STUDENT CLINIC RECORD</h2>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">CHIEF COMPLAINTS</th>
            <th scope="col">TREATMENTS/MEDICATION</th>
            <th scope="col">REMARKS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1/14/2023</th>
            <td>HEADACHE</td>
            <td>PARACETAMOL</td>
            <td>GO HOME AND TAKE A REST</td>
          </tr>
          <tr>
            <th scope="row">1/14/2023</th>
            <td>STOMACH ACHE</td>
            <td>OINTMENT</td>
            <td>NA</td>
          </tr>
        </tbody>
      </table>
    <div class="text-center">
    <a id="back" class="btn btn-sm btn-info" onclick="yousure()">BACK TO HOMEPAGE</a>
    <script>

        function yousure () {
        z = confirm('Do you want to go back?')
        if (z == true) {
            const a = document.querySelector('#back');
            a.href = "{% url 'students:homepage' %}";
        } else {
            a.href = "";
        }
    }
    </script>
    
</div>

{% endblock %}